body {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

header {
    position: static;
    font-size: 60px;
}
  
#container {
    position: static;
    top: 0; left:0; right:0; bottom:0; 
    padding: 30px;
    margin: 20px;
    width: 600px;
    height: 600px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
    justify-content:space-evenly;
    background-color: rgba(105, 165, 119, 0.818);
    border-width: 2px;
    border-color: aliceblue;
    border-style:dashed;
    border-radius: 20px;
}

.card, .frontCard {
    position: relative;
    border-radius: 20px;
    width: 130px; 
    height: 130px;
    row-gap: 30px;
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, blue, green);
 }

/* 
 .deck1 {
    /* position: relative;
    flex-direction: column;
    flex-wrap: wrap; */
 /* } 