body {
  background-image: url("styling/cloud.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  max-height: fit-content;
  align-items: center;
  color: white;
  font-family: "Play", sans-serif;
}

#game {
  position: relative;
  bottom: 40px;
  visibility: hidden;
  font-size: 60px;
  color: rgba(0, 0, 255, 0.5);
}

.choose {
  position: relative;
  bottom: 250px;
  right: 300px;
}

.choose > summary {
  padding: 4px;
  width: 100px;
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.choose > p {
  background-color: #09090956;
  padding: 10px;
  margin: 0;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px#ffffff;
  cursor: pointer;
}

.wrapper {
  position: fixed;
  top: 200px;
  display: grid;
  grid-template-rows: min-content;
  row-gap: 0px;
  width: 400px;
  height: 220px;
  border-style: ridge;
  border-color: white;
  border-radius: 20px;
  color: rgb(217, 200, 200);
  padding: 10px;
  background-image: url("styling/pond.png");
  visibility: visible;
}

.rules {
  justify-self: center;
  background-color: rgba(88, 147, 90, 0.911);
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.begin {
  width: 100px;
  height: 45px;
  justify-self: center;
  border-radius: 10px;
  color: white;
  border-color: rgba(149, 170, 149, 0.724);
  border-style: inherit;
  background-color: rgba(114, 185, 114, 0.551);
}

#container {
  position: fixed;
  bottom: 5px;
  padding: 20px;
  background-image: url("styling/cloud2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 630px;
  height: 600px;
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(105, 165, 119, 0.818);
  border-width: 2px;
  border-color: aliceblue;
  border-style: dashed;
  border-radius: 20px;
  visibility: hidden;
}

.frontCard {
  position: relative;
  border-radius: 20px;
  width: 130px;
  height: 120px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(120deg, rgb(43, 43, 255), rgb(96, 211, 96));
}

#gameplay {
  position: relative;
  bottom: 50px;
  left: 475px;
  border-style: groove;
  border-color: rgb(77, 77, 176);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  background-image: url("styling/cloud2.jpeg");
  visibility: hidden;
}

.attempts {
  background-color: rgba(92, 180, 92, 0.86);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  border-style: groove;
}

#restart{
    border-color: white;
    color: white;
    position:relative;
    left: 60px;
}


.winner {
  position: absolute;
  top: 300px;
  width: 300px;
  text-align: center;
  border-style: ridge;
  border-color: white;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(130, 130, 223);
  visibility: hidden;
}

.loser {
    position: absolute;
    top: 300px;
    width: 300px;
    text-align: center;
    border-style: ridge;
    border-color: white;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(55, 97, 188);
    visibility: hidden;
  }

#stomp {
  position: absolute;
  top: 100px;
  left: 20px;
  animation: 15s infinite walk;
}

@keyframes walk {
  from {
    transform: translateX(0);
    left: 0;
  }
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}
